@import "./variables";
@mixin flexbox($alignItems: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin containerStyle($max-width: $max-width-container) {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin underTabletOnly() {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}
