@import "../variables";
@import "../mixins";

.first-company-sec1 {
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: center;
  &__overlay {
    position: absolute;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://www.simbrella.com/site/assets/files/1040/cover.jpg);
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
  }
  &__text {
    position: relative;
    top: 35%;
    color: #ffffff;
    @include containerStyle();
    width: 100%;
    &__info {
      max-width: 640px;
      line-height: 1.29;
      font-weight: 500;
      &__h1 {
        padding-bottom: 16px;
        font-size: 48px;
        letter-spacing: -0.01;
      }
    }
    &__paragraph {
      padding-bottom: 48px;
      font-size: 15px;
      line-height: 1.87;
    }
    &__scroll-link {
      position: relative;
      display: inline-block;
      padding: 0 0 0 34px;
      font-size: 14px;
      font-family: inherit;
      line-height: 1.71;
      color: #ffffff;
      text-decoration: none;
      margin-top: 100px;
    }
    &__scroll-link::before {
      content: "";
      position: absolute;
      display: block;
      width: 22px;
      height: 41px;
      left: 0;
      top: -100%;
      background-image: url(https://www.simbrella.com/site/templates/img/mouse_icon.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    // &__span {
    //   padding-left: 34px;
    // }
  }
}

.what-we-do-sec2 {
  padding: 35px 0 60px;
  &__container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    &__head {
      @include flexbox(center, space-between);
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      padding: 0 0 40px;
      &__h2 {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: 0.01em;
        color: #2d3192;
      }
      &__link {
        &__item {
          display: inline-block;
          height: 56px;
          padding: 0 100px 0 24px;
          font-weight: 600;
          font-size: 15px;
          line-height: 56px;
          color: $link-item-color;
          text-decoration: none;
          background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg)
            no-repeat;
          background-position: 158px 22px;
          box-shadow: inset 0 0 0 3px #dfe4eb;
          border-radius: 12px;
          // transition: 0s, background-position, box-shadow;
          transition: all 0.15s linear;
        }
        &__item:hover {
          box-shadow: inset 0 0 0 3px $link-hover-color;
          background-position-x: 165px;
          // transition-delay: 200ms;
        }
      }
    }
    &__three-part {
      @include flexbox(stretch, space-between);
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      text-align: center;
      &__first {
        width: 31.5%;
        padding: 40px 20px;
        position: relative;
        box-shadow: inset 0 0 0 1px #d5dde4;
        border-radius: 4px;
        animation-duration: 0.3s;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        &__box {
          position: relative;
          width: 100%;
          height: 230px;
          text-align: center;
          &__image {
            &--mid {
              background-image: url(https://www.simbrella.com/site/assets/files/1044/2_1.svg);
            }
            &--last {
              background-image: url(https://www.simbrella.com/site/assets/files/1045/3-1.svg);
            }
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(https://www.simbrella.com/site/assets/files/1043/1.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
            left: 0;
            top: 0;
            z-index: 1;
            opacity: 1;
            transition: all 0.2s ease-out;
          }
        }
        &__h3 {
          padding: 0 0 16px;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          line-height: 1.25;
          letter-spacing: 0.01em;
          color: $link-item-color;
        }
        &__paragraph {
          font-size: 16px;
          line-height: 1.62;
          text-align: center;
          color: #5f6773;
        }
        &__link {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
      &__first:hover {
        transform: scale(1.03);
      }
    }
  }
}

.clients-sec7 {
  min-height: calc(100vh - 80px);
  padding: 35px 0 60px;
  background: #f6f8fe;
  opacity: 1;
  transform: translate(0, 60px);
  animation-duration: 0.6s;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    &__h2 {
      padding: 0 0 30px;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.29;
      letter-spacing: 0.01em;
      color: #2d3192;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 30px 30px;
      &__item {
        @include flexbox(center, center);
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        height: 160px;
        margin: 0;
        border: 1px solid #d5dde4;
        background-color: #fff;
        position: relative;
        border-radius: 4px;
        &__image {
          max-height: 90px;
          max-width: calc(100% - 60px);
        }
        &__box {
          width: 100%;
          height: 100%;
          font-weight: bold;
          font-size: 24px;
          line-height: 1.8;
          text-align: center;
          letter-spacing: 0.01em;
          color: #fff;
          position: absolute;
          left: 0;
          top: 0;
          &__span {
            @include flexbox(center, center);
            width: 100%;
            height: 100%;
            padding: 0 20px;
            border: 1px solid #d5dde4;
            color: #333;
            font-weight: bold;
            font-size: 24px;
            line-height: 1.8;
            text-decoration: none;
            background: #fff;
            position: relative;
            border-radius: 4px;
            flex-direction: row;
            flex-wrap: nowrap;
          }
        }
      }
    }
  }
}
.team-sec8 {
  min-height: calc(100vh - 80px);
  padding: 35px 0 60px;
  background: white;
  opacity: 1;
  transform: translate(0, 60px);
  animation-duration: 0.6s;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    &__h2 {
      padding: 0 0 30px;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.29;
      letter-spacing: 0.01em;
      color: #2d3192;
    }
  }
}
